body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#loader, #content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

#topbar img {
    width: 120px;  /* Ajuste o tamanho conforme necessário */
}

.button {
    padding: 10px 20px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media Queries para ajustar o design em dispositivos menores */
@media (max-width: 600px) {
    #topbar {
        flex-direction: column;
    }
}
