/* Importando uma fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variáveis CSS */
:root {
    --primary-color: #00b71c;
    --primary-color-hover: #008f16;
    --border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Top Bar Styles */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #011906, #022a18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#topbar img {
    height: 40px;
    cursor: pointer;
}

#topbar > div {
    display: flex;
    justify-content: center;
    width: 50%;
}

.button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

/* Estilos de Formulário */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: var(--border-radius);
    margin: 100px auto 0 auto;
    width: 300px;
    box-shadow: var(--box-shadow);
}

form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

/* Estilos para a tela de loading */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    z-index: 1001;
}

#loader.fadeOut {
    opacity: 0;
}

#loading-logo {
    width: 100px; /* ou a largura desejada */
    transition: opacity 1s ease-in-out;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #topbar {
        height: 60px;
        padding: 0 20px;
        align-items: center;
    }

    #topbar img {
        height: 20px;
        margin-right: auto;
    }

    #topbar > div {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
    }

    form {
        width: 90%;
    }
}
